.highlight {
    padding: 0 0.813em; // 13px
    margin-top: 0.7em;
    grid-column: 1/4;
    grid-row: 5/6;
    border-bottom: #D6D6D6 solid 0.5px;

    .ind-highlight {
       display: inline-block;
       text-align: center;
       margin-bottom: 1em;
       transition: ease-in-out .2s;

       // Highlight Cover Image
        img {
            width: 4em;
            border-radius: 50%;
            margin-top: 0.3em;
            border: solid 1px rgb(223, 223, 223);
            padding: 3px;
            background-clip: content-box; /* support: IE9+ */
        }

        p {
            font-size: 0.9em;
            font-weight: 600;
            margin-top: 0.2em;
            width: 80px;
            white-space: nowrap;

            // Text Truncate
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    .ind-highlight:hover {
        opacity: 0.8;
    }
}